{% extends 'base.html.twig' %}

{% block title %}Ajout | Catégories{% endblock %}

{% block body %}
    <h1>Ajouter une catégorie</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.parent) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}
