{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section>
		<h1>Demande de réinitialisation de mot de passe</h1>
		{{form_start(resetPassForm)}}
		    {{form_row(resetPassForm.password)}}
            <button type="submit">Envoyer</button>
		{{form_end(resetPassForm)}}
	</section>
{% endblock %}
