{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>Home page Open blog</h1>
<a href="{{path('app_login')}}">Login</a> <br>
<a href="{{path('app_register')}}">register</a>
{% endblock %}
